

body {
    padding-top: 100px;
    padding-left: 100px;

}

.main-square {
    display: flex;
}

table {
    margin: 15px;
    position: relative;
    display: inline-block;
    border: 1px solid #48aae6;
}

td, tr {
    background-color: #48aae6;;
}
 tr, td {
    height: 50px;
    width: 50px;
}
button{
    outline: none;
    color: #ffffff;
    width: 51px;
    height: 51px;
    font-size: 25px;
    position: absolute;
    border: none;
    background-position: 20px 24px, 24px 20px;
    background-repeat: no-repeat;
}
button:hover {
    transition: opacity 0.5s;
    opacity: 65%;
}

.btn-rm-row {
    left: 70px;
    margin: 18px 2px 0px 0px;
    display: none;
    background-color: #b20000;
}

.btn-rm-col {
    top: 68px;
    margin: 2px 0px 5px 18px;
    display: none;
    background-color: #b20000;
}

.btn-add-col {
    display: block;
    top:2px;
    right: -54px;
    background-color: #f3a500;
}
.btn-add-row {
    display: block;
    margin: 3px 2px 0px;
    background-color: #f3a500;
}

