
body {
    padding-top: 100px;
    padding-left: 100px;

}

.main-square {
    display: flex;
    padding: 15px;
}

.parent-table {
    display: table;
}

table {
    position: relative;
    display: inline-block;
    border: 1px solid #48aae6;

}

.col, .row {
    height: 50px;
    width: 50px;
    background-color: #48aae6;;
}

.addCol {
    margin-top: 3px;
    margin-left: 2px;
    position: absolute;
}

.addRow {
    margin-top: -2px;
    left: 126px;
    display: block;
    position: absolute;
}

.deleteRow {
    margin-top: 3px;
    display: none;
    left: 69px;
    position: absolute;
}

.deleteCol {
    display: none;
    left: 125px;
    top:69px;
    position: absolute;
}

.btn-rm {
    visibility: visible;
    background-color: #b20000;
    color: #ffffff;
    border: none;
}

.btn {
    font-size: 25px;
    width: 52px;
    height: 52px;
}

.btn-add {
    top: auto;
    background-color: #f3a500;
    border: none;
    color: #ffffff;
}

.btn:hover {
    transition: opacity 0.5s;
    opacity: 65%;
}

button:focus {
    outline: none;
}